jxPodStatus:
  enabled: true
  cluster:
    enabled: true 

jxSecrets:
  enabled: true
  cluster:
    enabled: true 

jxWebhooks:
  enabled: false

jxInstall:
  enabled: false

jxBotToken:
  enabled: false